@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');

* {
    box-sizing: border-box;
}

$backgroundColor : wheat;
$contentBackColor: cornflowerblue;
$fontColor : white;

@mixin perfectcentering {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 300vh;
    overflow-x: hidden;
}

body {
    @include perfectcentering;
    margin: 10vh 0 0;
    font-family: 'Gowun Batang', serif;
    background-color: $backgroundColor;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vh;
    height: 20vh;
    margin: 2vh;
    background-color: $contentBackColor;
    border-radius: 3vh;
    color: $fontColor;
    font-size: xx-large;
    cursor: pointer;
    transform: translateX(-400%);
    transition: transform 1s ease-in-out;

    &:hover {
        font-size: 5vh;
        text-decoration: underline;
        background-color: yellowgreen;
        box-shadow: 1vh 2vh #888888;
    }
}

.active{
    transform: translateX(0);
}